<!-- ESSE HTML FOI COPIADO E COLADO, NÃO HOUVE NENHUMA REFATORAÇÃO OU TRATAMENTO -->

<section class="anima_section">
<app-roadbar [property]="property_roadbar"></app-roadbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <!-- comp sidebar -->
      <app-sidebar></app-sidebar>

      <div class="content_with_sidebar">
        <accordion [closeOthers]="oneAtATime" id="accordion_subjects">
          <accordion-group #group>
            <div accordion-heading class="clearfix">
              <div class="row">
                <div class="col-lg-10 col-md-9 col-xs-6">
                  <p class="title">Nome da aula</p>
                  <button class="btn_info" (click)="openModal(info_disciplina)">
                    <i class="fa fa-info-circle fa-md"></i>
                  </button>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-6 text-right">

                  <!-- comp progressbar -->
                  <app-progressbar></app-progressbar>
                
                  <i class="fas fa-chevron-down fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table tbl_disciplina">
                <tbody>
                  <tr>
                    <td routerLink="/resource">
                      <i class="fas fa-file-alt fa-lg"></i>Conteúdo</td>
                    <td>
                      <span>0/3</span>
                    </td>
                  </tr>
                  <tr>
                    <td routerLink="/activities/quizz">
                      <i class="fas fa-pencil-alt fa-lg"></i>Atividade Avaliativa</td>
                    <td>
                      <span>0/3</span>
                    </td>
                  </tr>
                  <tr>
                    <td routerLink="/activities/tf">
                      <i class="far fa-clock fa-lg"></i>Atividade Gameficada</td>
                    <td>
                      <span>0/3</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </accordion-group>
          <accordion-group #group>
            <div accordion-heading class="clearfix">
              <div class="row">
                <div class="col-lg-10 col-md-9 col-xs-6">
                  <p class="title">Nome da aula</p>
                  <button class="btn_info" (click)="openModal(info_disciplina)">
                    <i class="fa fa-info-circle fa-md"></i>
                  </button>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-6 text-right">
                  
                  <!-- comp progressbar -->
                  <app-progressbar></app-progressbar>

                  <i class="fas fa-chevron-down fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table tbl_disciplina">
                <tbody>
                  <tr>
                    <td routerLink="/resource">
                      <i class="fas fa-file-alt fa-lg"></i>Conteúdo</td>
                    <td>
                      <span>0/3</span>
                    </td>
                  </tr>
                  <tr>
                    <td routerLink="/activities/quizz">
                      <i class="fas fa-pencil-alt fa-lg"></i>Atividade Avaliativa</td>
                    <td>
                      <span>0/3</span>
                    </td>
                  </tr>
                  <tr>
                    <td routerLink="/activities/tf">
                      <i class="far fa-clock fa-lg"></i>Atividade Gameficada</td>
                    <td>
                      <span>0/3</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </accordion-group>

        </accordion>
      </div>

    </div>
  </div>
</div>

<ng-template #info_disciplina>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Disciplina: Economia Básica</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>
      <strong>Aula</strong>
    </span>
    <p>Introdução da História Complementar II</p>

    <span>
      <strong>Carga Horária</strong>
    </span>
    <p>60hrs</p>

    <span>
      <strong>Objetivo</strong>
    </span>
    <p>Essa disciplina tem como objetivos apresentar ao aluno as operações e técnicas matemáticas básicas, minimizar a diferença
      cognitiva dos alunos e desenvolver habilidades matemáticas para o bom desempenho do discente em disciplinas que exijam
      raciocínio lógico e matemático. Essa disciplina tem como objetivos apresentar ao aluno as operações e técnicas matemáticas
      básicas, minimizar a diferença cognitiva dos alunos e desenvolver habilidades matemáticas para o bom desempenho do
      discente em disciplinas que exijam raciocínio lógico e matemático. Essa disciplina tem como objetivos apresentar ao
      aluno as operações e técnicas matemáticas básicas, minimizar a diferença cognitiva dos alunos e desenvolver habilidades
      matemáticas para o bom desempenho do discente em disciplinas que exijam raciocínio lógico e matemático.</p>
  </div>
</ng-template>

</section>