<app-guides [property]= "property_guides"></app-guides>

<div class="row fixed_area_comps">
    <app-fixed-component></app-fixed-component>

</div>

<section class="anima_section">

<app-roadbar [property]="property_roadbar"></app-roadbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <!-- comp sidebar -->
      <app-sidebar></app-sidebar>
      
      <div class="content_with_sidebar">
        
        
          <app-paper></app-paper>

         
      
        
      </div>

    </div>
  </div>
</div>

</section>
