// ESSE SCSS FOI COPIADO E COLADO, NÃO HOUVE NENHUMA REFATORAÇÃO OU TRATAMENTO
.web_aulapp_logo {
  margin: 15px 5px;
  padding: 0;
  
  img {
      height: 24px;
      width: 168px;
  }
}

.wrapper_nav_web {
    position: relative;
    z-index: 9;
  
  nav {
      margin-bottom: 0;
      min-height: 80px;
  }

  .nav_web_right {
      margin-right: 50px;
      padding-top: 28px;
      
      span {
          color: #fff;
          font-size: 16px;
  
          i {
              margin-right: 10px;
          }
      }
  
      a {
          font-size: 25px;
          float: right;
          margin-left: 30px;
          padding: 0 !important;
  
          &:hover, &:focus {
              background-color: transparent !important;
          }
      }
  }
}

// Responsivo
@media only screen and (max-width: 767px) {
  body {
      margin-top: -20px;
      padding-top: 0;
  }
  
  .wrapper_nav_web {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;

      .nav_web_right {
          padding-top: 0;
          margin-right: 0;
      }
  
      .navbar-toggle {
          margin-top: 11px;
          margin-right: 0;
      }
  
      nav {
          min-height: 0;
  
          .web_aulapp_logo {
              margin: 8px 0 0;
          }
      }
  }
}