<!-- ESSE HTML FOI COPIADO E COLADO, NÃO HOUVE NENHUMA REFATORAÇÃO OU TRATAMENTO -->
<div class="wrapper_nav_web">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand web_aulapp_logo" routerLink="/login">
                            <!-- <img src="../assets/imgs/logo_aulapp_branco.svg" class="img-responsive web_aulapp_logo" alt="Logo Aulapp"> -->
                            <app-logo [property]="property_logo"></app-logo>
                        </a>
                    </div>
                
                    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">

                        <!-- temp -->
                        <!-- <ul class="nav navbar-nav">

                            <li><a routerLink="/login">Login</a></li>
                            <li><a routerLink="/courses">Cursos</a></li>
                            <li><a routerLink="/disciplines">Disciplina</a></li>
                            <li><a routerLink="/lessons">Aula</a></li>
                            <li><a routerLink="/contents">Conteúdos</a></li>
                        </ul> -->
                
                        <app-user-details></app-user-details>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>