  <app-guides [property]= "property_guides"></app-guides>
  
  <section class="anima_section">
  
    <app-roadbar [property]="property_roadbar"></app-roadbar>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
    
          <!-- comp sidebar -->
          <app-sidebar></app-sidebar>
          
          <div class="content_with_sidebar">
    
            <div class="paper">
    
                <div class="inner">
                  <div class="enun">
                      <app-title></app-title>
                    <app-text></app-text>
                  </div>
        
                  <div class="activity_wrapper">

                    <div class="activities order">

                        <ng-template #itemTemplate let-item="item" let-index="index">

                            <div class="panel panel-default" [class.error]="isError" #error #top>
                              <div class="panel-heading">
                                  <div class="row row-eq-height">
                                    <div class="col-xs-11">
                                      <div class="text_comp">
                                          {{item.value}}
                                      </div>
                                    </div>

                                    <div class="col-xs-1">
                                        <div class="drag_order">
                                            <i class="fas fa-bars"></i>
                                        </div>
                                      </div>
                                    
                                  </div>
                              </div>
                              <div class="panel-body">
                                
                              </div>
                              <div class="panel-footer">
                                Aqui vai o Feedback pois provavelmente você errou a alternativa.
                              </div>
                            </div>
                        </ng-template>

                        <div class=list_order>
                          <bs-sortable
                            [(ngModel)]="itemStringsLeft"
                            [itemTemplate]="itemTemplate"
                            itemClass="sortable-item"
                            itemActiveClass="sortable-item-active"
                            placeholderItem="Drag here"
                            placeholderClass="placeholderStyle"
                            wrapperClass="sortable-wrapper"
                          >
                        </bs-sortable>
                      </div>

                    </div>

                  </div>
    
                  <div class="text-center pt-20">
                    <button class="btn btn-info" [class.hide]="isVerify" (click)="verifyActivity(error)">VERIFICAR</button>
                    <button class="btn btn-danger" [class.hide]="isRemake" (click)="verifyActivity(top)">REFAZER</button>
                  </div>
                  
        
                </div>
                
            </div>
            
          </div>
    
        </div>
      </div>
    </div>
  
  </section>