<div class="paper">
  <app-title></app-title>
  <app-image [property]="property_image"></app-image>
  <app-text></app-text>
  <app-image [property]="property_image"></app-image>
  <app-title></app-title>
  <app-video></app-video>
  <app-clue></app-clue>
</div>