<section id="curses_list" class="anima_section">

    <app-roadbar [property]="property_roadbar"></app-roadbar>

  <div id="courses">

    <div class="container-fluid">
      <div class="row">


        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let lesson of lessons">
          <div class="class_inner" routerLink="/lessons">
            <div class="img_discipline"></div>
            <div class="row padding_list">
              <div class="col-xs-12">
                <span>{{lesson.name}}</span>
                
                <!-- comp progressbar -->
                <app-progressbar></app-progressbar>

                <button class="btn_info" (click)="openModal(info_aula)">
                  <i class="fa fa-info-circle fa-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <ng-template #info_aula>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Disciplina: Economia Básica</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span>
        <strong>Autor</strong>
      </span>
      <p>Ronaldo Almeida</p>

      <span>
        <strong>Carga Horária</strong>
      </span>
      <p>60hrs</p>

      <span>
        <strong>Objetivo</strong>
      </span>
      <p>Essa disciplina tem como objetivos apresentar ao aluno as operações e técnicas matemáticas básicas, minimizar a diferença
        cognitiva dos alunos e desenvolver habilidades matemáticas para o bom desempenho do discente em disciplinas que exijam
        raciocínio lógico e matemático. Essa disciplina tem como objetivos apresentar ao aluno as operações e técnicas matemáticas
        básicas, minimizar a diferença cognitiva dos alunos e desenvolver habilidades matemáticas para o bom desempenho do
        discente em disciplinas que exijam raciocínio lógico e matemático. Essa disciplina tem como objetivos apresentar
        ao aluno as operações e técnicas matemáticas básicas, minimizar a diferença cognitiva dos alunos e desenvolver habilidades
        matemáticas para o bom desempenho do discente em disciplinas que exijam raciocínio lógico e matemático.</p>
      <br>
      <a href="#" class="btn btn-info">Baixar plano de ensino</a>
    </div>
  </ng-template>

</section>