.nav_web_right {
    margin-right: 50px;
    padding-top: 28px;
    
    span {
        color: #fff;
        font-size: 16px;

        i {
            margin-right: 10px;
        }
    }

    a {
        font-size: 25px;
        float: right;
        margin-left: 30px;
        padding: 0 !important;

        &:hover, &:focus {
            background-color: transparent !important;
        }
    }
}