<ul class="nav navbar-nav navbar-right">
  <li class="nav_web_right" >
      <span><i class="fa fa-envelope"></i> usuario@gmail.com</span> 
      <a class="bt_avatar" routerLink="/login"><i class="fa fa-user-circle"></i></a>
  </li>
</ul>