// Rem is the new set in font size that mixin calculate and return pixel and rem size
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }  
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

  //Align components
@mixin align_comps($vertical:center, $horizontal:center){
    display: flex;
    align-items: $vertical;
    justify-content: $horizontal;
   
}

@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}


@mixin transition($duration:0.3s, $ease: ease){

    cursor: pointer;
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    -ms-transition: all $duration $ease;
    -o-transition: all $duration $ease;
    transition: all $duration $ease;
}


@mixin scale($value: 1.05){
    -webkit-transform: scale($value);
    -ms-transform: scale($value);  
    transform: scale($value); 
}

@mixin shadow($type:medium){

    $current_shadow: $shadow_medium;

    @if $type == small {
        $current_shadow: $shadow_small;
      } @else if $type == medium {
        $current_shadow: $shadow_medium;
      } @else if $type == large {
        $current_shadow: $shadow_large;
      } @else if $type == extra {
        $current_shadow: $shadow_extra;
      } @else {
        $current_shadow: $shadow_medium;
      }





    // box-shadow: 0 10px 20px rgba(0,0,0,0), 0 6px 6px rgba(0,0,0,0.1);
    // box-shadow: 0 10px 20px transparent, 0 0px 10px rgba(0, 0, 0, 0.1);
    // box-shadow: 0 10px 20px transparent, 0 0px 10px rgba(0, 0, 0, 0.1);
    // box-shadow: 0 10px 20px transparent, 0 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  $current_shadow;
}

// Margin & padding
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// Equal heights
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:        flex;
}