<div *ngIf="router.url != '/login'">
  <app-navbar></app-navbar>
</div>

<router-outlet></router-outlet>

<!-- course-classes (aulas)
<app-course-classes></app-course-classes>
<hr> -->

<!-- contents (conteúdos)
<app-contents></app-contents>
<hr> -->

<!-- courses (cursos)
<app-courses></app-courses>
<hr> -->

<!-- comentei para não atrapalhar a interface -->
<!-- subjects (disciplinas)
<app-subjects></app-subjects>
<hr>  -->

<!-- login
<app-login></app-login>
<hr> -->

<!-- navbar
<app-navbar></app-navbar>
<hr> -->

<!-- apenas teste -->
<!-- <alert type="info">Hello from ng2-bootstrap {{ date.toDateString() }}</alert>
<div style="display:inline-block; min-height:290px;">
  <datepicker [(ngModel)]="date" showWeeks="true" name="datepicker"></datepicker>
</div> -->