  <div class="title_page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2>
              <a routerLink={{property.back_road}} class="mr-10">
                <i class="fa fa-lg fa-angle-left" *ngIf="property.back"></i>
              </a>{{property.label}}</h2>

              <ol class="breadcrumb" *ngIf="property.submenu">
                <li><a routerLink="/disciplines">Disciplinas</a></li>
                <li class="active">Aulas</li>
              </ol>

          </div>
        </div>
      </div>
    </div>