@import "../../../assets/stylethemes/current_theme";
@import "../../../assets/stylelibraries/mixins/mixins";

.login_aluno {

  .form-middle-page {
      margin: 0 auto;
      position: relative;
      top: 25%;
      width: 65%;
  }

  .content-login {
      background-color: $body-bg;
      height: 100vh;

      .logo_aulapp {
          margin: 0 auto;
          width: 80%;
      }

      .form_login {
          margin-top: 40px;

          .link_forget {
              float: right;
              margin: 10px 0;
              @include transition();
          }

          .btn_login {
              border-radius: 0;
              float: right;
              height: 50px;
              margin: 20px 0 0;
              padding: 5px 40px;
              @include transition();
          }

          .form-control {
              border-radius: 0;
              height: 50px;
          }
      }
  }

  .bg-image {
     
      height: 100vh;
      overflow: hidden;
  }
}

// Responsivo
@media only screen and (max-width: 767px) {
  .login_aluno {

      .form-middle-page {
          width: 75%;
      }

      .content-login {
          margin-top: 0;

          .checkbox {
              text-align: center;
          }

          .form_login {
              margin-top: 25px;
          }

          .form_login {

              .btn_login {
                  float: none;
                  margin: 15px auto 0;
                  display: block;
              }

              .link_forget {
                  display: block;
                  float: none;
                  margin: 15px auto 5px;
              }
          }
      }
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .login_aluno {

      .content-login {
          height: auto;
          padding: 10% 0;

          .logo_aulapp {
              width: auto;
          }
      }

      .form-middle-page {
          top: 0;
          width: 75%;
      }
  }
}


#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



