<!-- ESSE HTML FOI COPIADO E COLADO, NÃO HOUVE NENHUMA REFATORAÇÃO OU TRATAMENTO -->
<div class="login_aluno anima_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-5 content-login np">
        <div class="form-middle-page">
          
          
          <app-logo [property]="property_logo"></app-logo>

          <form (ngSubmit)="onLogin()" class="form_login" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="email_login" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="pass_login" placeholder="Senha">
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Permanecer conectado
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-link link_forget np">Esqueci minha senha</a>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn_login">Entrar</button>
          </form>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 np bg-image hidden-sm hidden-xs">
        <video autoplay muted loop id="myVideo">
          <source src="../assets/imgs/cover.mp4" type="video/mp4">
          <!-- Your browser does not support HTML5 video. -->
        </video>
      </div>
    </div>
  </div>
</div>