<!-- ESSE HTML FOI COPIADO E COLADO, NÃO HOUVE NENHUMA REFATORAÇÃO OU TRATAMENTO -->
<section id="curses_list" class="anima_section">

  <app-roadbar [property]="property_roadbar"></app-roadbar>

  <div id="courses">

    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let curso of cursos" class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
          <a routerLink="/disciplines" class="curse">
            <span>{{curso.name}}</span>
            
            <!-- comp progressbar -->
            <app-progressbar></app-progressbar>
          </a>
        </div>
      </div>
    </div>

  </div>

</section>