  <app-guides [property]= "property_guides"></app-guides>
  
  <section class="anima_section">
  
    <app-roadbar [property]="property_roadbar"></app-roadbar>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
    
          <!-- comp sidebar -->
          <app-sidebar></app-sidebar>
          
          <div class="content_with_sidebar">
    
            <div class="paper">
    
                <div class="inner">
                  <div class="enun">
                      <h4>Questão 1</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non pharetra velit, id interdum tortor. Phasellus tincidunt varius risus malesuada venenatis. Suspendisse potenti. Ut ac sapien odio. Sed eros massa, venenatis tempus est ac, porttitor hendrerit ex.</p>
                  </div>
        
                  <div class="activity_wrapper">

                    <div class="activities quizz">
        
                      <div class="panel panel-default" [class.error]="isError" #error #top>
                        <div class="panel-heading">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="text_comp">
                                    Persistência de relações de trabalho compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asdasdasdasd das dad adasd dasdasdasdasdadasd adadasdadasd asda sd adsdsa dsada dasd. Persistência de relações de trabalhosdasdasdas compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asda das dad adasd dasdasdasd
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <app-image [property]="property_image"></app-image>
                              </div>
                              <div class="col-lg-3">
                                <app-image [property]="property_image"></app-image>
                              </div>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="radio">
                            <label><input name="options" type="radio" [value]="1">Selecionar</label>
                          </div>
                        </div>
                        <div class="panel-footer">
                          Aqui vai o Feedback pois provavelmente você errou a alternativa.
                        </div>
                      </div>
          
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="text_comp">
                              Persistência de relações de trabalho compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asdasdasdasd das dad adasd dasdasdasdasdadasd adadasdadasd asda sd adsdsa dsada dasd. Persistência de relações de trabalhosdasdasdas compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asda das dad adasd dasdasdasd
                          </div>
                        </div>
                        <div class="panel-body">
                          <div class="radio">
                            <label><input name="options" type="radio" [value]="2">Selecionar</label>
                          </div>
                        </div>
                        <div class="panel-footer">
                            Aqui vai o Feedback pois provavelmente você errou a alternativa.
                        </div>
                      </div>
    
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="audio_comp">
                              <audio controls class="aligncenter">
                                <source src="http://www.sample-videos.com/audio/mp3/crowd-cheering.mp3">
                              </audio>
                            </div>
                            <div class="video_comp">
                              <video controls src="http://techslides.com/demos/sample-videos/small.mp4" class="aligncenter"></video>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="radio">
                            <label><input name="options" type="radio" [value]="3">Selecionar</label>
                          </div>
                        </div>
                        <div class="panel-footer">
                            Aqui vai o Feedback pois provavelmente você errou a alternativa.
                        </div>
                      </div>
                      
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="text_comp">
                                  Persistência de relações de trabalho compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asdasdasdasd das dad adasd dasdasdasdasdadasd adadasdadasd asda sd adsdsa dsada dasd. Persistência de relações de trabalhosdasdasdas compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asda das dad adasd dasdasdasd
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="audio_comp">
                                <audio controls class="aligncenter">
                                  <source src="http://www.sample-videos.com/audio/mp3/crowd-cheering.mp3">
                                </audio>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <app-image [property]="property_image"></app-image>
                            </div>
                          </div>
                        </div>
                        <div class="panel-body">
                          <div class="radio">
                            <label><input name="options" type="radio" [value]="4">Selecionar</label>
                          </div>
                        </div>
                        <div class="panel-footer">
                            Aqui vai o Feedback pois provavelmente você errou a alternativa.
                        </div>
                      </div>
    
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-lg-9">
                              <div class="text_comp">
                                  Persistência de relações de trabalho compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asdasdasdasd das dad adasd dasdasdasdasdadasd adadasdadasd asda sd adsdsa dsada dasd. Persistência de relações de trabalhosdasdasdas compulsório. asdadsdsd sdasdasdasds ad dad d ada das dasdsdasdadasdasd asda das dad adasd dasdasdasd
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <app-image [property]="property_image"></app-image>
                            </div>
                          </div>
                        </div>
                        <div class="panel-body">
                          <div class="radio">
                            <label><input name="options" type="radio" [value]="5">Selecionar</label>
                          </div>
                        </div>
                        <div class="panel-footer">
                            Aqui vai o Feedback pois provavelmente você errou a alternativa.
                        </div>
                      </div>
          
                    </div>

                  </div>
    
                  <div class="text-center pt-20">
                    <button class="btn btn-info" [class.hide]="isVerify" (click)="verifyActivity(error)">VERIFICAR</button>
                    <button class="btn btn-danger" [class.hide]="isRemake" (click)="verifyActivity(top)">REFAZER</button>
                  </div>
                  
        
                </div>
                
            </div>
            
          </div>
    
        </div>
      </div>
    </div>
  
  </section>