<div class="clue">


  <div class="clue_balloon">
    <div class="speech_bubble">
      <div class="box_text"> Bem vindo ao WebApp do Aluno</div>
    </div>
  </div>




  <div class="clue_character">
    <svg xmlns="http://www.w3.org/2000/svg" id="avatar_1" class="avatar1" viewBox="0 0 112.3 131.5">
      <polygon class="color_head" points="26,101.7 30.7,23 80.5,23 86.7,101.7" />
      <polygon class="color_shirt" points="0,131.5 10.4,114.9 26,98.3 86.6,98.3 101.3,114.9 109,131.5" />

      <polygon class="color_detail" points="21.8,94.9 32.8,98 55.2,121.8 75.9,98 87.2,94.3 87.2,131.5 23.9,131.5" />

      <g class="animate_face2">
        <polygon class="color_nose" points="63.8,74.5 52.5,74.5 56,63.1" />
        <g class="eyes">
          <circle cx="41" cy="65.5" r="1.6" />
          <circle cx="72.2" cy="65.5" r="1.6" />
        </g>
        <polygon class="mouth" points="51.6,80.9 63.6,80.9 61.6,86.1 59,87.3 55.6,87.3 53,84.8" />
      </g>

      <polygon class="color_hair" points="30.5,53.2 30.2,85.6 0,71.9 14.9,22.9 31.6,21 72.1,3.1 112.2,59.9 83.7,90.1 81.7,63.2 80.3,44.6 37.9,60.4"
      />
    </svg>
  </div>
</div>