
@import "../../../../../assets/stylelibraries/mixins/mixins";

// // speech-bubble

.speech_bubble {
    position: relative;
    background: #9abcc7;
    border-radius: .4em;
    //height: 130px;
    // max-height: 200px;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
  
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-left-color: #9abcc7;
      border-right: 0;
      border-bottom: 0;
      margin-top: -0.344em;
      margin-right: -1em;
    }
}    


.clue{
    min-height: 200px;
    padding-top: 20px;
}

.clue_balloon {
    width: 86%;
    // background-color: #00ff00;
    float: left;
    min-height: 200px;
   

    div{
        width:100%;
        height: 100%;
        @include align_comps();
        font-size: 20px;
    }
  }

  
  .clue_character {
    float: right;
    width: 10%;
   
  }





  .avatar1 {
    width: 100%;
    height: auto; 
    max-height: 200px;
    min-height: 130px;

    .color_head{fill:#CF9E76;}
    .color_shirt{fill:#EF4141;}
    .color_nose{fill:#CC7962;}
    .color_mouth{fill:#231704;}
    .color_hair{fill:#331E0E;}
    .color_detail{fill:#FFB8AE;}
  }

  .avatar2 {
    width: 100%;
    height: auto; 
    max-height: 200px;
    min-height: 130px;

    .color_head{fill:#F4E5DF;}
    .color_shirt{fill:#A580E0;}
    .color_nose{fill:#EACECE;}
    .color_mouth{fill:#231704;}
    .color_hair{fill:#897150;}
    .color_detail{fill:#E6E2ED;}
  }

  .avatar3 {
    width: 100%;
    height: auto; 
    max-height: 200px;
    min-height: 130px;

    .color_head{fill:#F7D5BA;}
    .color_shirt{fill:#A580E0;}
    .color_nose{fill:#F7907C;}
    .color_mouth{fill:#231704;}
    .color_hair{fill:#FF9B24;}
    .color_detail{fill:#9DF9F4;}
  }

  .avatar4 {
    width: 100%;
    height: auto; 
    max-height: 200px;
    min-height: 130px;

    .color_head{fill:#EFDAB9;}
    .color_shirt{fill:#252C3A;}
    .color_nose{fill:#F7907C;}
    .color_mouth{fill:#231704;}
    .color_hair{fill:#F7C800;}
    .color_detail{fill:#4F525B;}
  }

  .avatar5 {
    width: 100%;
    height: auto; 
    max-height: 200px;
    min-height: 130px;

    .color_head{fill:#5B3D2D;}
    .color_shirt{fill:#405118;}
    .color_nose{fill:#3A1604;}
    .color_mouth{fill:#231704;}
    .color_hair{fill:#000000;}
    .color_detail{fill:#6C8240;}
  }


  //animations

  .eyes {
    -webkit-animation: ani_eyes 4s infinite; /* Chrome, Safari, Opera */
    animation: ani_eyes 4s infinite;
  }

  #mouth {
    opacity: 0;
  }

  .animate_mouth {
    -webkit-animation: ani_mouth 0.4s infinite; /* Chrome, Safari, Opera */
    animation: ani_mouth 0.4s infinite;
  }

  .animate_face1 {
    -webkit-animation: ani_face1 8s infinite; /* Chrome, Safari, Opera */
    animation: ani_face1 8s infinite;
  }

  .animate_face2 {
    -webkit-animation: ani_face2 6s infinite; /* Chrome, Safari, Opera */
    animation: ani_face2 6s infinite;
  }

  .animate_face3 {
    -webkit-animation: ani_face1 12s infinite; /* Chrome, Safari, Opera */
    animation: ani_face1 12s infinite;
  }

  .animate_face4 {
    -webkit-animation: ani_face2 15s infinite; /* Chrome, Safari, Opera */
    animation: ani_face2 15s infinite;
  }



/* Safari 4.0 - 8.0 */
@-webkit-keyframes ani_eyes {
    45%  { opacity: 1;}
    50%  { opacity: 0;}
    55%   {opacity: 1;}
  }
  /* Standard syntax */
  @keyframes ani_eyes {
    48%  { opacity: 1;}
    50%  { opacity: 0;}
    55%   {opacity: 1;}
  }
  @-webkit-keyframes ani_mouth {
    28% { opacity: 0;}
    30%  { opacity: 1;}
    97%  { opacity: 1;}
  }
  /* Standard syntax */
  @keyframes ani_mouth {
    28% { opacity: 0;}
    30%  { opacity: 1;}
    97%  { opacity: 1;}
  }
  
  @-webkit-keyframes ani_face1 {
     
    40%  { 
      -ms-transform: scale(1, 0.95); /* IE 9 */
      -webkit-transform: scale(1, 0.95); /* Safari */
      transform: scale(1, 0.95);
    }
    60%  { 
      -ms-transform: scale(1, 1); /* IE 9 */
      -webkit-transform: scale(1, 1); /* Safari */
      transform: scale(1, 1);
    }
    80%  { 
      -ms-transform: scale(1, 0.95); /* IE 9 */
      -webkit-transform: scale(1, 0.95); /* Safari */
      transform: scale(1, 0.95);
    }
  }
  
  /* Standard syntax */
  @keyframes ani_face1 {
    
    40%  { 
      -ms-transform: scale(1, 0.95); /* IE 9 */
      -webkit-transform: scale(1, 0.95); /* Safari */
      transform: scale(1, 0.95);
    }
    55%  { 
      -ms-transform: scale(1, 1); /* IE 9 */
      -webkit-transform: scale(1, 1); /* Safari */
      transform: scale(1, 1);
    }
    80%  {
      -ms-transform: scale(1, 0.95); /* IE 9 */
      -webkit-transform: scale(1, 0.95); /* Safari */
      transform: scale(1, 0.95);
    }
  }
  
  @-webkit-keyframes ani_face2 {
     
    30%  { 
      -ms-transform: scale(0.86, 1); /* IE 9 */
      -webkit-transform: scale(0.86, 1); /* Safari */
      transform: scale(0.86, 1);
    }
    90%  { 
      -ms-transform: scale(0.86, 1); /* IE 9 */
      -webkit-transform: scale(0.86, 1); /* Safari */
      transform: scale(0.86, 1);
    }
  }
  
  /* Standard syntax */
  @keyframes ani_face2 {
    
    30%  { 
      -ms-transform: scale(0.86, 1); /* IE 9 */
      -webkit-transform: scale(0.86, 1); /* Safari */
      transform: scale(0.86, 1);
    }
    60%  { 
      -ms-transform: scale(0.86, 1); /* IE 9 */
      -webkit-transform: scale(0.86, 1); /* Safari */
      transform: scale(0.86, 1);
    }
  }



  @media only screen and (max-width: 720px) {
    .clue_balloon{
        width: 60%;
        div{
            font-size: 15px;
        }
    }

    .clue_character {
        float: right;
        width: 20%;
       
      }
  
}