<aside id="fixed_sidebar" class="hidden-xs">
  <ul>

    <!-- when lessons -->
    <!-- <li>
      <a routerLink="/lessons" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fas fa-file-alt fa-lg"></i> Aulas</a>
    </li> -->
        
    <!-- when resource -->
    <li>
      <a routerLink="/resource" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fas fa-file-alt fa-lg"></i> Conteúdo</a>
    </li>
    <li>
      <a routerLink="/activities/quizz" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="far fa-clock fa-lg"></i> Atividade Gameficada</a>
    </li>
    <li>
      <a routerLink="/activities/order" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fas fa-file-alt fa-lg"></i> Atividade Avaliativa</a>
    </li>
  </ul>
</aside>