@import "../../../assets/stylethemes/current_theme.scss";

#fixed_sidebar {
    background: $const_bars;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    width: 230px;
    left: 0;
    top: 0;

    ul {
        margin: 0;
        padding: 123px 0 0 0;

        li {
            border-bottom: 1px solid $mosaic-border-color;

            a {
                color: #fff;
                cursor: pointer;
                display: block;
                padding-left: 0px; 
                text-decoration: none;
                padding: 20px 15px 15px 15px;
                position: relative;
                -webkit-transition: all 0.25s ease;
                -moz-transition: all 0.25s ease;
                -ms-transition: all 0.25s ease;
                -o-transition: all 0.25s ease;
                transition: all 0.25s ease;

                &.active {

                    &:after {
                        content: '\f00c';
                        display: block;
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        display: inline-block;
                        position: absolute;
                        right: 17px;
                        top: 22px;
                        font-size: 10px;
                    }
                }

                &:hover {
                    background-color: #fff;
                    color: $text-color;
                    padding-left: 10px;
                }

                i {
                    margin-right: 8px;
                }
            }
        }
    }
}