* {
    outline: none !important;
    
}

body{
    overflow-x: hidden;
}

//Global class webapp Aulapp

.np {
    padding: 0;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
  
.title_page {
    background-color: $mosaic-bg-color;
    @include shadow($type:extra);
    padding: 15px 30px 20px;
    position: relative;
    z-index: 3;

    a {
        text-decoration: none;

        i {
            margin-right: 5px;
            @include transition();
            
        }
    }

    .breadcrumb {
        background: transparent;
        margin: 0;
        padding: 0 0 0 40px;
    }

    h2{
        @include fadeInLeft();
    }
}

// Course Classes
#courses {
    padding: 40px;

    // Progress bar
    .progress {
        border-radius: 50px;
        margin: 15px 0 0;
        position: relative;
        width: 60%;
        @include transition();
        &:hover{
            @include scale($value:1.18);
        }
      

        .progress-bar {
            font-size: 12px;
            line-height: 2;
          
        }
    }

    .class_inner {
        background: $box_discipline;
        border-radius: $mosaic-border-radius;
        @include shadow($type:medium);
        display: block;
        margin-bottom: 30px;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        @include transition($duration: 0.15s);

        .img_discipline {

            border-radius: $mosaic-border-radius $mosaic-border-radius 0px 0px;
            width: 100%;
            height: 130px;
            background-color: #eee;
            background-image: url('assets/imgs/web_aluno_fundo.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% auto;

            @include transition($duration: 0.25s);


            &:hover {
                background-size:120% auto;
            }



        }

        span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .padding_list {
            padding: 4% 6%;
            position: relative;

            .btn_info {
                background: transparent;
                border: none;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 0;
                right: 10px;

                &:hover {
                    @include swing();
                }
            }
        }

        &:hover {
           @include scale(); 
        }
    }

    a.curse {
        background: $mosaic-bg-color;
        
        @include shadow($type:large);
        // box-shadow: 0 10px 20px transparent, 0 0px 10px rgba(0, 0, 0, 0.1);

        border-radius: $mosaic-border-radius;

        display: block;
        margin-bottom: 30px;
        padding: 40% 15%;
        position: relative;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        @include transition($duration: 0.15s);

        .progress {
            width: 100%;
          
        }

        span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            @include scale(); 
        }
    }
}

// Content area when sidebar exists
.content_with_sidebar {
    margin-left: 230px;
    padding: 3% 4%;
    position: relative;

    blockquote {
        margin: 0 auto 20px;
        width: 70%;
    }

    .paper {
        background-color: $component-active-color;
        @include shadow();
        min-height: 50vh;
        padding: 2% 5%;
    }
}

#control_class {

    .control {
        background: $component-active-color;
        @include shadow();
        border-radius: 50%;
        cursor: pointer;
        height: 30px;
        top: 50%;
        font-size: 14px;
        line-height: 2.3;
        position: fixed;
        width: 30px;
        z-index: 5;

    }

    .prev {
        left: calc(230px + 20px);

        &:before {
            content: '\f053';
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            display: inline-block;
            position: relative;
            left: 8px;
        }
    }
    .next {
        right: 20px;

        &:before {
            content: '\f054';
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            display: inline-block;
            position: relative;
            left: 11px;
        }
    }


}

// Subjects Accordion
#accordion_subjects {

    .panel {
        background-color: transparent;
        border-radius: 0;
        border: none;
    
        .panel-heading {
            padding: 20px 20px 15px;
    
            .progress {
                float: left;
                margin-right: 30px;
                border-radius: 50px;
                margin: 0;
                position: relative;
                width: 80%;
            }
    
            p {
                float: left;
                margin: 0;
    
                &:before {
                    background: $gray-lighter;
                    border-radius: 4px;
                    content: '';
                    display: block;
                    float: left;
                    height: 16px;
                    margin: 2px 15px 0 0;
                    width: 44px;
                }
            }
            .btn_info {
                background: transparent;
                border: none;
                margin: 0;
                padding: 0;
                position: relative;
                left: 10px;
            }
        }
    
        .panel-body {
            padding: 0;
    
            .tbl_disciplina {
                margin: 0;
    
                tr {

                    

                  
    
                    td {
                        background-color: $text-color;
                        border-top: 1px solid #fff;
                        color: #fff;
                        vertical-align: middle;
                        padding: 15px 20px;
                        text-align: right;
                        cursor: pointer;
                        padding-left: 0px;
                        @include transition($duration: 0.3s);
                        
    
                        
    
                        i {
                            margin-right: 2%;
                        }
    
                        &:first-child {
                            padding: 15px 0 15px 5%;
                            text-align: left;

                            &:hover{
                                padding: 15px 0 15px 6%;
                               
                            }
                        }
                    }
                }
            }
        }
    }
}

// Responsive
@media only screen and (max-width: 1024px) {
    .activities {
        margin-bottom: -20px;
        max-height: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 60px;
    }

    #courses {
        padding: 40px 15px;
    }

    .title_page {
        padding: 10px 15px 15px;
        text-align: center;
    }
    .content_with_sidebar {
        padding: 0;
        margin: 30px 0 0;
    }

    .title_page .breadcrumb {
        padding: 0;
    }
    
    #control_class {

        .prev  {
            left: 0;
        }
        .next  {
            right: 0;
        }
    }
    
    .nav_web_right {
        margin-right: 0 !important;
        padding-top: 0 !important;
    }

    .anima_section {
        animation: none !important;
        -webkit-animation: none !important;
    }
    .text_comp, 
    .audio_comp, 
    .video_comp,
    .image_comp {
        padding: 10px !important;
    }
    .login_aluno {
        margin-top: -60px;
    }
}

@media only screen and (max-width: 640px) {

    #accordion_subjects .panel {

        .panel-heading {
            padding: 15px 15px 10px;

            p {
                &:before {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    #courses {
        .col-xs-6 {
            width: 100%;
        }
    }
}


.anima_section{
    @include fadeInRight( $duration: 0.4s);
}

.image_comp{
    padding: 20px;
}

.bt_avatar{

    &:hover{
    @include pulse();
    }
}



//logo
.logotipe{
    width: 300px;
    height: 100px;
   

.logo{
    float: left;
    @include rotateIn(
        $duration: 1.3s
        );

        

    width: 60px;
    height: 60px;
      
  .logo_color_integrator {
    fill: #4F514F; }
  
  .logo_color_teacher {
    fill: #F7726D; }
  
   .logo_color_viewer {
    fill: #ffb533; }
  
  .logo_color_publisher {
    fill: #56B6E0; }
  
  .logo_color_manager {
    fill:  #77B424; }
  
  .logo_color_central {
    fill: #fff; 
    @include shadow($type: large);
    }
  
  
    
  }
  .logo_text{
      font-size: 55px;
      font-weight: bold;
     @include align_comps($vertical:center, $horizontal:center);
     color: #26414F;
     @include fadeInLeft();
    
  }

  .slogan{
      width:100%;
      position: relative;
      top: -10px;
      font-size: 18px;
      text-align: center;
      color: $gray-light;
      @include fadeIn($delay:0.6s);
 
  }


}



//logo
.logotipe_internal{
    width: 170px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
   

.logo{
    float: left;
    // @include rotateIn(
    //     $duration: 1.3s
    //     );

        

    width: 30px;
    height: 30px;
      
  .logo_color_integrator {
    fill: #fff; }
  
  .logo_color_teacher {
    fill: #fff; }
  
   .logo_color_viewer {
    fill: #fff; }
  
  .logo_color_publisher {
    fill: #fff; }
  
  .logo_color_manager {
    fill:  #fff; }
  
  .logo_color_central {
    fill: #fff; 
    @include shadow($type: large);
    }
  
  
    
  }
  .logo_text{
      padding: 5px;
      font-size: 30px;
      font-weight: bold;
     @include align_comps($vertical:center, $horizontal:center);
     color: #fff;
    //  @include fadeInLeft();
    
  }

  .slogan{
      width:100%;
      position: relative;
      top: -10px;
      font-size: 10px;
      text-align: center;
      color: #fff;
      @include fadeIn($delay:0.6s);
 
  }


}

.fixed_area_comps{
    // position: fixed;
    // bottom: 10px;
    // right: 27px;
    //  background-color: #00ff00;
   
    // width: auto;
    // // width: 25%;
    // // height: 0px;

   
   

}

.fixed_comp{

    position: fixed;
    bottom: 10px;
    right: 27px;
    z-index: 100;

    //overflow: hidden;

    width: 55%;
    min-height: 150px;

     max-width: 450px;
     max-height: 260px;

    // min-width: 350px;
    // min-height: 160px;

    float: right;
    background-color: rgba(255,255,255,0.90);
    border-radius: $mosaic-border-radius;
    // border-style: solid;
    // border-color: #bbb;
    // border-width: 1px;
    @include shadow('large');
    // padding: 10px;
    margin: 5px;

    @include transition();
    &:hover{
        margin-bottom: 20px;
    }

    @include zoomIn( $duration: 0.5s);

    .capsule_fixed_comp{
        padding: 20px;
        width: 98%;
        height: 90% 
    }

    .image_comp{
        padding: 0px;
        max-height: 200px;
        // background-color: #00ff00;
        //max-width: 200px;
        
       
    }


    .image_comp2{
        width: auto;
        max-height: 200px;
       
        
    }

  


}

.fixed_comp_hide{
    @include zoomOut( $duration: 0.5s );
}

.close_fixed{
    // color:#fff;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover,:active,:visited{
        // color: #fff;
    }
}

// Activities
.enun {
    box-shadow: 0 6px 8px -7px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.text_comp,
.audio_comp,
.video_comp {
    padding: 20px;
}

.activity_wrapper {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25px;
        background: linear-gradient(
            rgba(255, 255, 255, 0.001),
            white
        );
        pointer-events: none;
    }
}

.activities {
    max-height: 500px;
    overflow-y: auto;

    audio,
    video,
    iframe {
        max-width: 100%;
    }

    .panel {

        .panel-heading {
            background-color: transparent;
            text-align: justify;
        }
    
        .panel-body {
            padding: 0;
            text-align: center;
        }
    
        .panel-footer {
            border-top: none;
            color: #fff;
            display: none;
        }

        &.success {
            border-color: $brand-success;

            .panel-heading {
                border-color: $brand-success;
            }

            .panel-footer {
                background-color: $brand-success;
                // display: block;
            }
        }

        &.error {
            border-color: $brand-danger;

            .panel-heading {
                border-color: $brand-danger;
            }

            .panel-footer {
                background-color: $brand-danger;
                display: block;
            }
        }
    }

    &.quizz,
    &.tf, 
    &.order{

        &.order {
            
            .panel .panel-heading {
                border: none;
            }
        }

        .panel {
            box-shadow: none;
        }
    }
}


.sortable-item{
    cursor: pointer;
}

.drag_order{
    height: 100%;
    @include align_comps();
    font-size: 20px;
    cursor: pointer;
}
