@import "../../../assets/stylethemes/current_theme.scss";

.enun {
    box-shadow: 0 6px 8px -7px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.activities {

    .panel {

        .panel-heading {
            background-color: transparent;
            text-align: justify;
        }
    
        .panel-body {
            padding: 0;
            text-align: center;
        }
    
        .panel-footer {
            background-color: $brand-danger;
            color: #fff;
            display: none;
        }

        &.error {
            border-color: $brand-danger;

            .panel-heading {
                border-color: $brand-danger;
            }

            .panel-footer {
                display: block;
            }
        }
    }

    &.quizz {

        .panel {
            box-shadow: none;
        }
    }
}