<div class="{{property.style}}">
    <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.68 46.08">
      <defs></defs>
      <title>logotipo</title>
      <path class="logo_color_integrator"
          d="M20.84,20a3.83,3.83,0,0,1-5.67-1.84L15.1,18a7.19,7.19,0,1,0-2.7,8.4l.12-.08h0a3.83,3.83,0,0,1,5.67,1.85l1.3.42,2.66-8.18Z"
          transform="translate(-1.16 -1.12)" />
      <path class="logo_color_teacher"
          d="M25.13,33l.08-.1-7-5.06-.09.13a3.83,3.83,0,0,1-3.51,4.83l-.14,0A7.19,7.19,0,1,0,21.66,38l0-.13h0A3.83,3.83,0,0,1,25.13,33Z"
          transform="translate(-1.16 -1.12)" />
      <path class="logo_color_viewer"
          d="M39.46,45.83a7.19,7.19,0,0,0-4-13l-.15,0A3.83,3.83,0,0,1,31.85,28l-.09-.13-7,5.06.08.1a3.83,3.83,0,0,1,3.51,4.83h0l0,.14a7.19,7.19,0,0,0,11.11,7.84Z"
          transform="translate(-1.16 -1.12)" />
      <path class="logo_color_publisher"
          d="M43.86,27.29a7.19,7.19,0,1,0-9-9.31l-.06.14A3.83,3.83,0,0,1,29.17,20l-1.32.43,2.66,8.18,1.3-.42a3.83,3.83,0,0,1,5.68-1.84h0l.13.07A7.15,7.15,0,0,0,43.86,27.29Z"
          transform="translate(-1.16 -1.12)" />
      <path class="logo_color_manager"
          d="M32.21,8.33A7.19,7.19,0,0,0,25,1.12h0A7.19,7.19,0,0,0,20.59,14l.11.1a3.83,3.83,0,0,1,0,6v.16h8.6v-.13a3.83,3.83,0,0,1,0-6h0l.11-.1A7.15,7.15,0,0,0,32.21,8.33Z"
          transform="translate(-1.16 -1.12)" />
      <circle class="logo_color_central" cx="25" cy="25.82" r="7.48" transform="matrix(0, -1, 1, 0, -2.03, 49.65)" />
  </svg>
</div>
<div class="logo_text" *ngIf="property.logo_text">
  AULAPP
</div>
<div class="slogan" *ngIf="property.slogan">Plataforma de aprendizagem digital</div>
</div>