<div [class.fixed_comp_hide] = 'toogle_fixed_comp' class="fixed_comp" >
    <button  (click) = 'toogle_fixed_component()' type="button" class="close close_fixed" data-dismiss="modal">&times;</button>
  <div class="capsule_fixed_comp">
  <!-- <app-image [property]="property_image"></app-image> -->
   <app-video ></app-video>
  </div>
</div>